@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-osu-orange {
    background-color: #DC4405 !important;
}

.bg-osu-black {
    background-color: #000000 !important;
}

.bg-osu-white {
    background-color: #FFFFFF !important;
}

.bg-transparent {
    background-color: rgba(255, 255, 255, 0);
}

.bg-osu-shine {
    background: linear-gradient(-65deg, #DC4405, #DC4405, #DC4405, #fa601e, #fbe8e0, #fa601e, #DC4405, #DC4405, #DC4405);
    background-position: center;
    background-attachment: fixed;
    background-size: 500% 100%;
    animation: gradient 10s ease infinite;
}

.banner-block {
    background: black;
    text-align: center;
}

.banner-text {
    font-family: "Scout Condensed Bold";
    background-clip: text;
    color: transparent;
    font-size: 800%;
    line-height: 100%;
    user-select: none;
}

@font-face {
    font-family: "Scout Condensed Bold";
    src: local("ScoutCond-Bold"),
        url("./fonts/scout/ScoutCond-Bold.otf") format("opentype");
}

@font-face {
    font-family: "Scout Condensed Regular";
    src: local("ScoutCond-Regular"),
        url("./fonts/scout/ScoutCond-Regular.otf") format("opentype");
}

.r6-font{
    font-family: "Scout Condensed Bold";
}

/* ################################################################# */
/*                             Nav Bar
/* ################################################################# */

.nav {
    font-size: 2.5em;
    background-color: #000000;
    padding-left: 1%;
    padding-right: 1%;
}

.nav a, a:link, a:visited a:hover a:focus a:active link:hover{
    text-decoration: none;
    color: white;
}
.nav a:hover {
    color: white;
}

.nav button {
    background: linear-gradient(-45deg, #DC4405, #fd9162, #DC4405);
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
    color: #000000;
    height: max-content;
    width: max-content;
}

nav .dropdown-toggle { 
    height: 4em;
    width: 4em;
}

nav .dropdown-toggle:after { 
    content: none;
}

nav .dropdown-menu {
    background: linear-gradient(-45deg, #DC4405, #fd9162, #DC4405);
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
}

nav .dropdown-header {
    color: #FFFFFF;
}

nav .dropdown-item {
    color: #000000 !important;
}

.navbar-brand{
    width:10%;
}

.logo {
    width: 100%;
    min-width: 100px;
    max-width: 150px;
}



/* ################################################################# */
/*                             Footer
/* ################################################################# */

.footer {
    background-color: #000000;
    align-content: center;
    color: #FFFFFF;
    height: 20vh;
    flex-grow: 1;
}

.icon {
    color: #DC4405;
    font-size: 300%;
}

.icon a, link, a:link, a:visited a:focus a:active{
    text-decoration: none;
    color: #DC4405;
}

.icon a:hover{
    color: #ffffff;
}



/* ################################################################# */
/*                             Body
/* ################################################################# */

body {
    background-color: #000000 !important;
    color: #FFFFFF;
}
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  } 

.image-banner {
    width: 100%;
}

.video-carousel{
    width: 95%;
    max-width: 1800px;
    display: block;
    margin: auto;
}

.video-player{
    width: 100% !important;
    max-width: 1200px !important;
}

.alum-info {
    color:#FFFFFF;
    font-size: 1.5em;
}

.pre-wrap {
    white-space: pre-wrap;
}

/* ################################################################# */
/*                           Home Page
/* ################################################################# */

.bannerImage {
    align-content: center;
    margin: auto;
    display: flex;
}

/* ################################################################# */
/*                           Player Page
/* ################################################################# */
.bio {
    color: white;
    font-family: "Scout Condensed Bold";
    font-size: 1.5em;
    max-width: 75%;
    margin: auto;
    text-align: center;
    white-space: pre-wrap
}

.clip-title {
    color: white;
    font-family: "Scout Condensed Bold";
    font-size: 2em;
    margin: auto;
    text-align: center;
}

.preformatted {
    white-space: pre-wrap;
  }